
.cover {
    background-image: url('images/Admin_pic.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-item: center;
    justify-content: center;
}
