body {
    margin: 0;
    padding: 0;
    /*width: 100px;
    height: 100px;*/
}

.cover {
    background-image: url('images/norway-3840x2160-4k-hd-wallpaper-geiranger-stryn-mountain-clouds-860.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    display:flex;
    align-item: center;
    justify-content: center;
}

#Image1 {
   /* width: 24vw;
    height: 60vh;*/
    width: 30vw;
    height: 600px;
    padding-top: 10px;
}

.elements {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-item: center;
    justify-content: center;
}

.intro {
    /*width:24vw;
    height:60vh;*/
    width: 28vw;
    height: 70vh;
    box-shadow: black 0px 40px 60px;
}
.lbl  {
    display: block;
    padding-top: 10vh;
    padding-left: 200px;
    font-size: 6vw;
    font-size: 8vh;
    font-family: 'Leckerli One','Algerian';
    text-shadow: black 0px 20px 20px;
}



.txt1 {
    margin-top: 10vh;
    margin-left: 5vw;
    /*margin-top: 4vh;
    margin-left: 2vw;*/
}

.rev {
    margin-top: 38vh;
    margin-left: 11vw;
}


.txt2 {
   /* margin-top: 35vh;
    margin-left: 3vw;*/
    margin-top: 7.4vh;
    margin-left: 5vw;
}

    .txt1[placeholder], .txt2[placeholder] {
        font-family: 'Oleo Script Swash Caps';
        font-size: 25px;
        padding-left: 5vw;
        align-item: center;
        justify-content: center;
        font-weight:bold;
    }

.txtstyle {
    width: 19vw;
    height: 6vh;
    border: 0;
    border-radius: 4%;
    background-color: transparent;
   /* background-color: rgba(252,251,251,0,80);*/
    box-shadow: black 0px 30px 50px;
}

.btnstyle {
    margin-top: 5vh;
    width: 11vw;
    height: 8vh;
    margin-left: 8vw;
    font-family: 'Oleo Script Swash Caps';
    font-size: 2vw;
    border: 1px;
    color: black;
    text-shadow: black 0px 10px 10px;
    background-color: rgba(255,255,255,0,57);
}

    .btnstyle:hover {
        background-color: transparent;
        box-shadow: black 0px 90px 80px;
    }
