/*.cover {
    background-image: url('images/Homepage.jpg');
    background-repeat: no-repeat;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    display: flex;
    align-item: center;
    justify-content: center;
}*/

