* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edf1f4;
}

.Login {
    position: relative;
    width: 380px;
    padding: 80px 100px 50px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1),
    -15px -15px 20px #fffb;
    border-radius: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

    .Login {
        position: relative;
        width: 100%;
    }

        /*.Login h2 {
            font-size: 3em;
            margin-bottom: 30px;
            line-height: 0.9em;
        }

        .Login .h2 span {
            font-weight: 300;
            font-size: 0.90em;
        }*/

        .Login  .inputBox {
            position: relative;
            display: flex;
        }

            .Login .inputBox .txt1,.txt2 {
                border: none;
                outline: none;
                background: transparent;
                border-radius: 10px;
                font-size: 1em;
            }

                .Login .inputBox .txt1[type="text"],
                .Login .inputBox .txt2[type="password"] {
                    width: 100%;
                    padding: 15px 20px;
                    padding-left: 40px;
                    margin-bottom: 20px;
                    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 10px #fff;
                }

            .Login .inputBox i {
                position: absolute;
                left: 20px;
                top: 25%;
            }
           .rev {
             margin-top: 5vh;
              margin-left: 5vw;
                }

        /*.Login  label1 {
            display: flex;
            align-items: center;
        }

        .Login  .input[type="checkbox"] {
            margin-right: 5px;
        }*/

.Login .inputBox .btn1 {
    margin-top: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #fff;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 600;
}

.btn1 {
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px;
    margin-top: 30px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: 0.4s ease;
}
       .btn1:hover {
    background: black;
    color: white;
        }
             .Login   .inputBox .btn1:focus {
                box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 10px #fff;
            }

/*.a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Algerian';
}*/

    .link {
    font-family: Arial;
    font-size: 20px;
    padding-top: 1px;
    text-align: center;
    color: Silver;
}

    .link a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: Algerian;
        text-align: center;
    }

    /*.Login .fingerprint {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        cursor: pointer;
    }

        .Login .fingerprint .fingerprintBox {
            box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #fff;
            border: 3px solid #edf1f4;
            padding: 15px 20px 10px;
            border-radius: 10px;
            background: linear-gradient(315deg,#03a9f4,#0082bc);
        }

            .Login .fingerprint .fingerprintBox img {
                max-width: 40px;
                filter: invert(1);
                animation: animate 1s linear infinite;
            }*/

/*@keyframes animate {
        0%,100% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }

    .Login .fingerprint {
    font-weight: 500;
}*/
